[data]
username = "{{ .chezmoi.username }}"
hostname = "{{ .chezmoi.hostname }}"
system = "{{ .chezmoi.os }}-{{ .chezmoi.arch }}"

[edit]
command = "/opt/homebrew/bin/zed"
args = ["--wait"]

[data.just]
host = "{{ .chezmoi.hostname }}"
flake = "{{ .chezmoi.sourceDir }}/nix"
