set dotenv-load := false
set shell := ["bash", "-euo", "pipefail", "-c"]

flake := "{{ .chezmoi.sourceDir }}/nix"
hostname := `scutil --get LocalHostName 2>/dev/null`

check:
  nix flake check {{ "{{flake}}" }}

build:
  sudo darwin-rebuild switch --flake {{ "{{flake}}" }}#{{ "{{hostname}}" }}

only-update:
  nix flake update {{ "{{flake}}" }}

full-update:
  nix flake update {{ "{{flake}}" }}
  sudo darwin-rebuild switch --flake {{ "{{flake}}" }}#{{ "{{hostname}}" }}

gc:
  nix-collect-garbage -d
