set dotenv-load := false
set shell := ["bash", "-euo", "pipefail", "-c"]

flake := "{{ .chezmoi.sourceDir }}/nix"
hostname := `scutil --get LocalHostName 2>/dev/null`

# nixpkgs-unstable を最新に差し替えてビルドを検証
check-update-pkg:
  nix build -L \
    --override-input nixpkgs github:NixOS/nixpkgs/nixpkgs-unstable \
    {{ "{{flake}}" }}#darwinConfigurations.{{ "{{hostname}}" }}.system \
    --no-link

# input を全て最新に差し替えてビルドを検証
check-update-all:
  nix build -L \
    --override-input nixpkgs github:NixOS/nixpkgs/nixos-unstable \
    --override-input nix-homebrew github:zhaofengli/nix-homebrew \
    --override-input home-manager github:nix-community/home-manager \
    --override-input darwin github:LnL7/nix-darwin \
    --override-input wezterm 'github:wezterm/wezterm?dir=nix' \
    --override-input nixvim github:nix-community/nixvim \
    {{ "{{flake}}" }}#darwinConfigurations.{{ "{{hostname}}" }}.system \
    --no-link


# flake.lock の nixpkgs を最新バージョンに更新
update-pkg:
  cd {{ "{{flake}}" }} && nix flake update nixpkgs

# flake.lock の全ての input を最新バージョンに更新
update-all:
  cd {{ "{{flake}}" }} && nix flake update

# 現在の flake.lock で flake の評価と検証
check:
  nix flake check {{ "{{flake}}" }}

# 現在の flake.lock のビルドを検証
check-build:
  nix build -L {{ "{{flake}}" }}#darwinConfigurations.{{ "{{hostname}}" }}.system --no-link

# 現在の flake.lock でビルドと反映
switch:
  sudo darwin-rebuild switch --flake {{ "{{flake}}" }}#{{ "{{hostname}}" }}

# ガベージコレクション
gc:
  nix-collect-garbage -d
